[run]
source = app
omit =
    app/api/endpoints.py
    */venv/*
    */tests/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
    \.\.\.
    pass
